<div class="body">


        <div role="main" class="main">

            <section class="page-header page-header-classic">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Pages</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-static">
                            <h1 data-title-border>Admin Profile</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container py-2">

                <div class="row">
                    <div class="col-lg-2 mt-4 mt-lg-0">

                        <aside class="sidebar mt-2" id="sidebar">
                            <ul class="nav nav-list flex-column mb-5" ng-controller='adminLogoutCtrl'>
                                <li class="nav-item"><a class="nav-link text-dark active" href="#/formAbout">formAbout</a></li>
                                <li class="nav-item"><a class="nav-link"   href="#/formContact">formContact</a></li>
                                     <li class="nav-item"><a class="nav-link text-dark active" href="#/formFooter">formFooter</a></li>
                                     <li class="nav-item"><a class="nav-link text-dark active" href="#/formHome">formHome</a></li>
                                     <li class="nav-item"><a class="nav-link text-dark active" href="#/formServices">formServices</a></li>
                                     <li class="nav-item" ng-click='adminLogout()'><a class="nav-link text-dark active" href="">Logout</a></li>
                            </ul>
                        </aside>

                    </div>
                    <div class="col-lg-10">
    
                  

                    </div>
                </div>

            </div>

        </div>


