<div class="body">
    <div class="container" >
        <div class="row">
        <div class="col-lg-3">
             <ul>
                 <li><a href="#/formAbout">formAbout</a></li>
                 <li><a href="#/formContact">formContact</a></li>
                 <li><a href="#/formFooter">formFooter</a></li>
                 <li><a href="#/formHome">formHome</a></li>
                 <li><a href="#/formServices">formServices</a></li>
             </ul>
         </div>
             <div class="col-lg-9">
                	
             </div>
             </div>
     </div>
</div>