<div class="body">


        <div role="main" class="main">

            <section class="page-header page-header-classic">
                <div class="container">
                    <div class="row">
                        <div class="col p-static">
                            <h1 data-title-border>Admin Profile</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container py-2">

                <div class="row">
                    <div class="col-lg-2 mt-4 mt-lg-0">

                        <aside class="sidebar mt-2" id="sidebar">
                            <ul class="nav nav-list flex-column mb-5" ng-controller='adminLogoutCtrl' >
                                <li class="nav-item"><a class="nav-link text-dark " href="#/formHome">formHome</a></li>
                                <li class="nav-item"><a class="nav-link text-dark active" href="#/formServices">formServices</a></li>
                                <li class="nav-item"><a class="nav-link text-dark " href="#/formAbout">formAbout</a></li>
                                <li class="nav-item"><a class="nav-link"   href="#/formContact">formContact</a></li>
                                <li class="nav-item"><a class="nav-link text-dark " href="#/formHeader">formHeader</a></li>
                                <li class="nav-item"><a class="nav-link text-dark " href="#/formFooter">formFooter</a></li>
                                <li class="nav-item" ng-click='adminLogout()'><a class="nav-link text-dark " href="">Logout</a></li>
                            </ul>
                        </aside>

                    </div>
                    <div class="col-lg-10">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Forms Services</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
                    <div class="panel-heading adminTextSayle">
                        Services Section 1
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" ng-submit="updateData('servicesSection1')">
                                    <div class="form-group">
                                        <label>Heading</label>
                                        <input class="form-control" ng-model="heding" placeholder="{{textData['servicesSection1'].heding}}">
                                        <!-- <p class="help-block">Example block-level help text here.</p> -->
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection1'].descriotion}}"></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>Call to action</label>
                                        <input class="form-control"  ng-model="callToAction" placeholder="{{textData['servicesSection1'].callToAction}}">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit Button</button>
                                    <button type="reset" class="btn btn-default">Reset Button</button>
                                </form>
                            </div>
                        </div>
                    </div>
        </div> 
        <div class="panel panel-default">
                <div class="panel-heading adminTextSayle">
                    Services Section 2_1
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" ng-submit="updateData('servicesSection2_1')">
                                <div class="form-group">
                                    <label>Heading</label>
                                    <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection2_1'].heding}}">
                                    
                                </div>
                                <div class="form-group">
                                    <label>Additional description</label>
                                    <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection2_1'].descriotion}}"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 2_2
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection2_2')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection2_2'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection2_2'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 2_3
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection2_3')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection2_3'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection2_3'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 2_4
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection2_4')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection2_4'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection2_4'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 2_5
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection2_5')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection2_5'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection2_5'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 2_6
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection2_6')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection2_6'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection2_6'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 3
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection3')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection3'].heding}}">
                            </div>
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection3'].hedingSpan}}">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection3'].descriotion}}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Additional Description</label>
                                <textarea class="form-control"  rows="5"    ng-model="additionalDescription" placeholder="{{textData['servicesSection3'].additionalDescription}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        
    </div> 
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 4
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection4')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection4'].heding}}">
                            </div>
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection4'].hedingSpan}}">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection4'].descriotion}}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Additional Description</label>
                                <textarea class="form-control"  rows="5"    ng-model="additionalDescription" placeholder="{{textData['servicesSection4'].additionalDescription}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 5_1
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection5_1')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection5_1'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection5_1'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 5_2
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection5_2')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection5_2'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection5_2'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 5_3
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection5_3')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection5_3'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection5_3'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 5_4
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection5_4')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection5_4'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection5_4'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 6
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection6')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection6'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection6'].descriotion}}"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="panel panel-default">
            <div class="panel-heading adminTextSayle">
                Services Section 7
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" ng-submit="updateData('servicesSection7')">
                            <div class="form-group">
                                <label>Heading</label>
                                <input class="form-control"  ng-model="heding" placeholder="{{textData['servicesSection7'].heding}}">
                                
                            </div>
                            <div class="form-group">
                                <label>Additional description</label>
                                <textarea class="form-control"  rows="5"    ng-model="descriotion" placeholder="{{textData['servicesSection7'].descriotion}}"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Call To Action</label>
                                <input class="form-control"  ng-model="callToAction" placeholder="{{textData['servicesSection7'].callToAction}}">
                                
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

</div>
</div>

</div>

</div>
