<div class="container">
  <div class="row">
    <div class="col">
      <div class="featured-boxes">
        <div class="row">
          <div class="col-md-12" >
              <div class="featured-box featured-box-primary text-left mt-5">
                <div class="box-content">
                  <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">I'm a Returning Customer</h4>
                  <form  ng-submit='submit()'  id="frmSignIn" class="needs-validation">
                    <div class="form-row">
                      <div class="form-group col">
                        <label class="font-weight-bold text-dark text-2">E-mail Address</label>
                        <input ng-model='email' type="email" class="form-control form-control-lg" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <!-- <a class="float-right" href="#">(Lost Password?)</a> -->
                        <label class="font-weight-bold text-dark text-2">Password</label>
                        <input ng-model='password' type="password" pattern="^(?=.*\d).{4,16}$" class="form-control form-control-lg" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-6">
                        <input type="submit" value="Login" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
                      </div>
                      
                    </div>
                  </form>
                </div>
              </div>
        
          
          
          
          
            </div>
      </div>    
    </div>
    </div>
  </div>
</div>