/* Add here all your CSS customizations */

.pagination ul{
    width: auto; 
}
.pagination a {
    padding: 15px;
    text-decoration:none;
    border: 1px solid #CCC;
    color: aliceblue;
    font-weight: bold;
    font-size:18px;
}
.pagination a:hover {
    background-color: #CCC;
    color: aliceblue !important;
}
.active a {
    color: #fff !important;
}
.ordersHrefStyle a {
    text-decoration: none;
    color: black;
    padding-left: 7px;
}
.ordersHrefStyle a:hover {
    text-decoration: none;
    color: rgb(22, 204, 22);
}
.adminTextSayle {
    font-size: 25px;
    padding: 10px 0;
    margin-top: 5px;
    font-weight: bolder;
}
.adminBorderSayle {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5%;
    
}
.adminHomeHeader {
    background-color: black;
    margin: 0 0 35px 0;
    padding: 30px 0px;
    position: relative;
	text-align: left;
	color: white;
}
.tableCenter {
    margin: 0 auto;
}
.marginButton {
    margin-left: 15px;
}
#header .header-nav-main nav {
     height: unset !important;
}