<div class="container">
    <div class="row">
        <div class="col">
            <form  ng-submit='submit()'  > 
                <input ng-model='demoId' type="text" placeholder="id"><br>
                <input ng-model='demoHedingSpan' type="text" placeholder="hedingSpan"><br>
                <input ng-model='demoHeding' type="text" placeholder="heding"><br>
                <input ng-model='demoDescriotionSpan' type="text" placeholder="descriotionSpan"><br>
                <input ng-model='demoDescriotion'type="text" placeholder="descriotion"><br>
                <input ng-model='demoCallToAction' type="text" placeholder="call to action"><br>
                <input ng-model='demoAdditionalDescription' type="text" placeholder="additional description"><br>
                <input type="submit" value="get info">
            </form>
        </div>
    </div>
</div>