		<div class="body">
			<div role="main" class="main">

				<section class="page-header page-header-classic">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col p-static">
								<h1 data-title-border>Login</h1>

							</div>
						</div>
					</div>
				</section>

				<div class="container">

						<div class="row">
							<div class="col">
	
								<div class="featured-boxes">
									<div class="row">
										<div class="col-md-6" >
											<div class="featured-box featured-box-primary text-left mt-5">
												<div class="box-content">
													<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">I'm a Returning Customer</h4>
													<form  ng-submit='submit()'  id="frmSignIn" class="needs-validation">
														<div class="form-row">
															<div class="form-group col">
																<label class="font-weight-bold text-dark text-2">E-mail Address</label>
																<input ng-model='email' type="email" value="" class="form-control form-control-lg" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col">
																<a class="float-right" href="#">(Lost Password?)</a>
																<label class="font-weight-bold text-dark text-2">Password</label>
																<input ng-model='password' type="password" value="" class="form-control form-control-lg" required>
															</div>
														</div>
														<div class="form-row">
															<!-- <div class="form-group col-lg-4">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input" id="rememberme">
																	<label class="custom-control-label text-2" for="rememberme">Remember Me</label>
																</div>
															</div> -->
															<div class="form-group col-lg-4">
																<input type="submit" value="Login" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
															</div>
															<div class="form-group col-lg-4">
																<div class="g-signin2 float-right" style="height: 43px;" data-onsuccess='submit'></div>
																<button  onclick='signOut()' class=" data btn btn-danger float-right" style="height: 43px; display: none;">Close</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="featured-box featured-box-primary text-left mt-5">
												<div class="box-content">
													<h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Register An Account</h4>
													<form ng-submit='registerSubmit()' id="frmSignUp" class="needs-validation">
														<div class="form-row">
															<div class="form-group col">
																<label class="font-weight-bold text-dark text-2">Firstname</label>
																<input ng-model="regName" type="text" value="" class="form-control form-control-lg" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col">
																<label class="font-weight-bold text-dark text-2">Lastname</label>
																<input ng-model="regLastName" type="text" value="" class="form-control form-control-lg" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col">
																<label class="font-weight-bold text-dark text-2">E-mail Address</label>
																<input ng-model="regEmail" type="email" value="" class="form-control form-control-lg" required>
															</div>
														</div>
														<div class="form-row">
															<div class="form-group col-lg-6">
																<label class="font-weight-bold text-dark text-2">Password</label>
																<input ng-model="regPassword" type="password" value="" class="form-control form-control-lg" required>
															</div>
															<div class="form-group col-lg-6">
																<label class="font-weight-bold text-dark text-2">Re-enter Password</label>
																<input ng-model="regPasswordRepeat" type="password" value="" class="form-control form-control-lg" required>
															</div>
														</div>
														<p>{{ passwordError ? passwordError : authError }}</p>
														<div class="form-row">
															<div class="form-group col-lg-9">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" class="custom-control-input" id="terms">
																	<label class="custom-control-label text-2" for="terms">I have read and agree to the <a href="#">terms of service</a></label>
																</div>
															</div>
															<div class="form-group col-lg-3">
																<input type="submit" value="Register" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
																
															</div>
														
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
					</div>
			</div>
			

				
			<footer id="footer">
				<div class="container">
					<div class="footer-ribbon">
						<span>Get in Touch</span>
					</div>
					<div class="row py-5 my-4">
						<div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
							<h5 class="text-3 mb-3">NEWSLETTER</h5>
							<p class="pr-1">Keep up on our always evolving product features and technology. Enter your e-mail address and subscribe to our newsletter.</p>
							<div class="alert alert-success d-none" id="newsletterSuccess">
								<strong>Success!</strong> You've been added to our email list.
							</div>
							<div class="alert alert-danger d-none" id="newsletterError"></div>
							<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="mr-4 mb-3 mb-md-0">
								<div class="input-group input-group-rounded">
									<input class="form-control form-control-sm bg-light" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
									<span class="input-group-append">
										<button class="btn btn-light text-color-dark" type="submit"><strong>GO!</strong></button>
									</span>
								</div>
							</form>
						</div>
						<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
							<h5 class="text-3 mb-3">LATEST TWEETS</h5>
							<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options="{'username': 'oklerthemes', 'count': 2}">
								<p>Please wait...</p>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
							<div class="contact-details">
								<h5 class="text-3 mb-3">CONTACT US</h5>
								<ul class="list list-icons list-icons-lg">
									<li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">234 Street Name, City Name</p></li>
									<li class="mb-1"><i class="fab fa-whatsapp text-color-primary"></i><p class="m-0"><a href="tel:8001234567">(800) 123-4567</a></p></li>
									<li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:mail@example.com">mail@example.com</a></p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-2">
							<h5 class="text-3 mb-3">FOLLOW US</h5>
							<ul class="social-icons">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
								<a href="index.html" class="logo pr-0 pr-lg-3">
									<img alt="Porto Website Template" src="img/bamboo-logo02.png" class="opacity-5" height="33">
								</a>
							</div>
							<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
								<p>© Copyright 2019. All Rights Reserved.</p>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
								<nav id="sub-menu">
									<ul>
										<li><i class="fas fa-angle-right"></i><a href="page-faq.html" class="ml-1 text-decoration-none"> FAQ's</a></li>
										<li><i class="fas fa-angle-right"></i><a href="sitemap.html" class="ml-1 text-decoration-none"> Sitemap</a></li>
										<li><i class="fas fa-angle-right"></i><a href="contact-us.html" class="ml-1 text-decoration-none"> Contact Us</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>