		<div class="body">


			<div role="main" class="main">

				<section class="page-header page-header-classic">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Pages</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col p-static">
								<h1 data-title-border>User Profile</h1>

							</div>
						</div>
					</div>
				</section>

				<div class="container py-2">

					<div class="row">
						<div class="col-lg-2 mt-4 mt-lg-0">

							<aside class="sidebar mt-2" id="sidebar">
								<ul class="nav nav-list flex-column mb-5">
									<li class="nav-item"><a class="nav-link text-dark active" href="#/profile">My Profile</a></li>
									<li class="nav-item"><a class="nav-link text-dark" href="#/formsUserProfile">Make Order</a></li>
									<li class="nav-item"><a class="nav-link text-dark" href="#/userTable">My Orders</a></li>
									<li class="nav-item"><a class="nav-link text-dark" href="#/reportsTable">My Reports</a></li>
								</ul>
							</aside>

						</div>
						<div class="col-lg-10">

							<div class="overflow-hidden mb-1">
								<h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">My</strong> Profile</h2>
							</div>
							<div class="overflow-hidden mb-4 pb-3">
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>

							<form role="form" ng-submit='editUser()' class="needs-validation">
						

							   

							    <div class="form-group row">
								<label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 ">Skype/Viber/WhatsApp</label>
								<div class="col-lg-9">
								    <input ng-model="skypeViberWhatsApp" class="form-control"  type="text" placeholder="{{ skype ? skype : 'Skype/Viber/WhatsApp' }}">
								</div>
							    </div>


							    <div class="form-group row">
							        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 ">Facebook Link</label>
							        <div class="col-lg-9">
							            <input ng-model="facebook" class="form-control"  type="url" placeholder="{{ facebook ? facebook : 'Facebook Profile URL' }}">
							        </div>
								</div>
								<div class="form-group row">
							        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 ">Wechat</label>
							        <div class="col-lg-9">
							            <input ng-model="Wechat" class="form-control"  type="text" placeholder="{{ Wechat ? Wechat : 'Wechat Number' }}">
							        </div>
							    </div>

							    <div class="form-group row">
									<div class="form-group col-lg-9">
										{{ error ? error : success }}
										{{ubdateError ? ubdateError : error}}
									</div>
									<div class="form-group col-lg-3">
										<input type="submit" value="Save" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
									</div>
							    </div>
							</form>

						</div>
					</div>

				</div>

			</div>

			
		</div>

	
