<div class="body">
	<div role="main" class="main">
		<section class="page-header page-header-classic">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Features</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col p-static">
								<h1 data-title-border>Reports Responsive</h1>

							</div>
						</div>
					</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<aside class="sidebar mt-2" id="sidebar">
						<ul class="nav nav-list flex-column mb-5">										
							<li class="nav-item"><a class="nav-link text-dark" href="#/profile">My Profile</a></li>
							<li class="nav-item"><a class="nav-link text-dark" href="#/formsUserProfile">Make Order</a></li>
							<li class="nav-item"><a class="nav-link text-dark" href="#/userTable">My Orders</a></li>
							<li class="nav-item"><a class="nav-link text-dark  active" href="#/reportsTable">My Reports</a></li>
						</ul>
					</aside>
				</div>
				<div class="col">
						<section class="card card-admin" >
							<header class="card-header">
								<div class="card-actions">
									<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
									<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
								</div>
				
								<h2 class="card-title">My Reports Data</h2>
							</header>
							<div class="text-center " ng-show="loading"><img src="{{loadingGif}}" alt="loading"></div>
							<div class="card-body" ng-repeat="data in viewData">
								<div  ng-repeat="newData in data">
									<div ng-repeat="myData in newData">
										
												<table class="table table-responsive-lg table-bordered table-striped table-sm mb-0" >
														<thead >
																<tr>								
																	<th class="text-center align-middle">Timestamp</th>
																	<th class="text-center align-middle">Title of chat- This is not your name</th>
																	<th class="text-center align-middle">Order Number</th>
																	<th class="text-center align-middle">Price of item do Not include tax</th>
																	<th class="text-center align-middle">Paypal Email</th>
																	<th class="text-center align-middle">	Date of order</th>
																	
																</tr>
															</thead>
															<tbody ng-repeat="reports in myData" >
																<tr >
																	<td class="text-center align-middle">{{reports["Timestamp"]}}</td>
																	<td class="text-center align-middle">{{reports["Title of chat- This is not your name"]}}</td>
																	<td class="text-center align-middle">{{reports["Order Number"]}}</td>
																	<td class="text-center align-middle">{{reports["Price of item do Not include tax"]}}</td>
																	<td class="text-center align-middle">{{reports["Paypal Email"]}}</td>
																	<td class="text-center align-middle">{{reports["Date of order"]}}</td>
																</tr>
															</tbody>
														</table>
										

									</div>
								</div>
								
									
							</div>
						</section>
					</div>
			</div>
		</div>
	</div>
	
</div>



