<div class="body">
    <div role="main" class="main">
        <section class="page-header page-header-classic page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 data-title-border>Shop</h1>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-right">
                            <li><a href="#">Home</a></li>
                            <li class="active">Pages</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="form-group row ">
            <div class="col-lg-12">
                <div class="summary entry-summary ">
                    <div class="col-lg-12">
                        <div class="featured-box featured-box-primary text-left mt-3 mt-lg-4 ">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">
                                    Cart Totals</h4>
                                <table class="cart-totals tableCenter ">

                                    <tr class="cart-subtotal " ng-repeat="item in textData">
                                        <th>
                                            {{item.price}} &#36
                                            <button type="submit" class="btn btn-success marginButton">Pay</button>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>