<div class="body">
    <div role="main" class="main">
        <section class="page-header page-header-classic page-header-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 data-title-border>Shop</h1>
                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center">
                        <ul class="breadcrumb d-block text-md-right">
                            <li><a href="#">Home</a></li>
                            <li class="active">Pages</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
                <section class="card card-admin">
                    <header class="card-header">
                
                        <h2 class="card-title">Orders</h2>
                    </header>
                    <div class="card-body">
                        <table class="table table-bordered table-striped mb-0" id="datatable-editable">
                            <thead class="text-center">
                                <tr>
                                    <th>Product Link</th>
                                    <th>Total Buying Summary</th>
                                    <th>Price</th>
                                    <th>Pay</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                
                                <tr ng-repeat="item in textData" ng-show="{{ item.price > 0 }}">
                                    <td class="ordersHrefStyle text-center align-middle" data-id="{{ item._id }}"><a href="{{item.productLink}}">Open Product Link</a></td>
                                    <td class="text-center align-middle">{{item.totalBuyingSummary}}</td>
                                    <td class="text-center align-middle">{{item.price}} &#36</td>
                                    <td class=" text-center align-middle ">
                                            <button type="submit" ng-click="postOrder(item._id)" class="btn btn-success marginButton">Pay</button>
                                    </td>
                                </tr>
                          
                            </tbody>
                            
                        </table>
                        
                    </div>
                    <div class="text-center " ng-show="loading"><img src="{{loadingGif}}" alt="loading"></div>
                </section>
            </div>
    </div>
</div>
