<div class="body">
	<div role="main" class="main">
		<section class="page-header page-header-classic">
					<div class="container">
						<div class="row">
							<div class="col">
								<ul class="breadcrumb">
									<li><a href="#">Home</a></li>
									<li class="active">Features</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col p-static">
								<h1 data-title-border>Tables Responsive</h1>

							</div>
						</div>
					</div>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<aside class="sidebar mt-2" id="sidebar">
						<ul class="nav nav-list flex-column mb-5">										
							<li class="nav-item"><a class="nav-link text-dark" href="#/profile">My Profile</a></li>
							<li class="nav-item"><a class="nav-link text-dark" href="#/formsUserProfile">Make Order</a></li>
							<li class="nav-item"><a class="nav-link text-dark  active" href="#/userTable">My Orders</a></li>
							<li class="nav-item"><a class="nav-link text-dark" href="#/reportsTable">My Reports</a></li>
						</ul>
					</aside>
				</div>
				<div class="col">
						<section class="card card-admin">
							<header class="card-header">
								<div class="card-actions">
									<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
									<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
								</div>
				
								<h2 class="card-title">My Orders Data</h2>
							</header>
						
							<div class="card-body">
								<table class="table table-responsive-lg table-bordered table-striped table-sm mb-0">
										<thead>
												<tr>								
													<th class="text-center align-middle">Product Link</th>
													<th class="text-center align-middle">Buyings Per Day</th>
													<th class="text-center align-middle">Item Price</th>
													<th class="text-center align-middle">Total Buying Summary</th>
													<th class="text-center align-middle">Additional Info</th>
													<th class="text-center align-middle">ID</th>
													<th class="text-center align-middle">Created At</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="data in viewData">
													<td class="text-center align-middle ordersHrefStyle"><a href="{{data.productLink}} " target="_blank">Open Orders Link</a></td>
													<td class="text-center align-middle">{{data.buyingsPerDay}}</td>
													<td class="text-center align-middle">{{data.itemPrice}}</td>
													<td class="text-center align-middle">{{data.totalBuyingSummary}}</td>
													<td class="text-center align-middle">{{data.additionalInfo}}</td>
													<td class="text-center align-middle">{{data.ID}}</td>
													<td class="text-center align-middle">{{data.createdAt}}</td>									
												</tr>
											</tbody>
										</table>
									
							</div>
							<div class="text-center " ng-show="loading"><img src="{{loadingGif}}" alt="loading"></div>
						</section>
					</div>
			</div>
		</div>
	</div>
	
</div>



